@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.moving-text {
  display: inline-block; /* Required for the text to move within the container */
  animation: slideIn 6s linear infinite running;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(3px);
    animation-timing-function: ease-in;
  }
  40% {
    transform: translateY(-4px);
    animation-timing-function: ease-out;
  }
  60% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }
}

.bouncing-div {
  /* Apply the animation */
  animation: bounce 3s infinite;
}



@keyframes bgcolor {
  0% {
      background-color: #cffafe 
  }

  30% {
      background-color: #cffafebc
  }

  60% {
      background-color: #90e8f0ed
  }

  90% {
      background-color: #76b3b9
  }

  100% {
      background-color: #319099d0
  }
}

.change-bg{
  -webkit-animation: bgcolor 5s infinite;
  animation: bgcolor 5s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.icon-spinning {
  animation: spin 1s linear infinite;
  margin-top: 5px;
  color: yellowgreen;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
